<h1>Vertical</h1>
<ngx-tabs actionLabel="create" class="vertical">
	<ngx-panel *ngFor="let d of data" [title]="d.title" [unsaved]="d.unsaved">
		<p>{{ d.content }}</p>
	</ngx-panel>
</ngx-tabs>

<h2>Horizontal</h2>
<h3>With Action Button</h3>
<ngx-tabs>
  <ngx-action (click)="addData($event)">Add</ngx-action>
  <ngx-action (click)="saveData($event)">Save All</ngx-action>
	<ngx-panel *ngFor="let d of data" [title]="d.title" [unsaved]="d.unsaved">
		<p>{{ d.content }}</p>
	</ngx-panel>
</ngx-tabs>

<h3>Without Action Button</h3>
<ngx-tabs>
	<ngx-panel *ngFor="let d of data" [title]="d.title" [unsaved]="d.unsaved">
    <textarea [(ngModel)]="d.content" (input)="d.unsaved = true"></textarea>
  </ngx-panel>
</ngx-tabs>
